

.dashboardCards{
    h3{
        color: #000000;
        font-weight: 500;
        font-size: 18px;
    }

    h5{
        color: #000000;
        font-weight: 500;
        font-size: 16px;
        margin-top: 8px !important;
    }
}

// #customCard1{
//     // background: rgb(2,0,36);
//     // background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(220,53,69,1) 0%, rgba(149,0,255,1) 100%);

//     // background: rgb(2,0,36);
//     // background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(220,53,69,1) 0%, rgba(255,243,0,1) 100%);

//     background: rgb(2,0,36);
//     background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(53,220,187,1) 0%, rgba(249,255,0,0.8212535014005602) 100%);  
// }

// #customCard2{
//     background: rgb(2,0,36);
//     background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(53,146,220,1) 0%, rgba(0,255,29,0.7120098039215687) 100%);   
// }