<div class=" py-4 px-3">

    <div class="">
        <h2 class="text-[#000000]">Dashboard</h2>
    </div>

    <div class="mt-4 flex items-center flex-wrap gap-3">
        <div class=" w-[20%] dashboardCards">
            <mat-card class="min-h-[100px] flex justify-center " id="customCard1">
                <mat-card-content>
                    <div class="text-center">
                        <h3>Total Category:</h3>
                        <h5 class=" mt-2">{{this.dashboardDetails?.category}}</h5>
                        <button mat-flat-button color="warn" class="mt-4" [routerLink]="'/category'">View Category</button>
                    </div>
                </mat-card-content>
            </mat-card>
            
        </div>

        <div class=" w-[20%] dashboardCards">
            <mat-card class="min-h-[100px] flex justify-center" id="customCard2">
                <mat-card-content>
                    <div class="text-center">
                        <h3>Total Product:</h3>
                        <h5 class=" mt-2">{{this.dashboardDetails?.product}}</h5>
                        <button mat-flat-button color="warn" class="mt-4" [routerLink]="'/product'">View Product</button>
                    </div>
                </mat-card-content>
            </mat-card>
            
        </div>

        <div class=" w-[20%] dashboardCards">
            <mat-card class="min-h-[100px] flex justify-center">
                <mat-card-content>
                    <div class="text-center">
                        <h3>Total Bills:</h3>
                        <h5 class=" mt-2">{{this.dashboardDetails?.bill}}</h5>
                        <button mat-flat-button color="warn" class="mt-4" [routerLink]="'/bills'">View Bills</button>
                    </div>
                </mat-card-content>
            </mat-card>
            
        </div>
    </div>
</div>
