/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

h1,h2,h3,h4,h5,h6, p{
    margin-bottom: 0px !important;
}

.no-outline:focus {
    outline: none;
  }
