li:hover{
    background-color: rgba(203, 98, 107, 0.603);
    border-radius: 10px;
    // a{
    //     color: #181818 !important;
    // }
    
}

.active{
    background-color: rgba(203, 98, 107, 0.967);
    border-radius: 10px;
}