<div class="bg-[#dc3545] h-[100%]">

    <ul class="pt-[10px]">
        <li class=" py-[10px] px-[12px] mb-[10px] cursor-pointer"  [routerLink]="'/'">
            <a  class="flex items-center text-[#fff] text-[16px]">
                <mat-icon class="text-light mr-2 ">dashboard</mat-icon>
                Dashboard
            </a>
        </li>
        <li class=" py-[10px] px-[12px] mb-[10px] cursor-pointer" [routerLink]="'/category'">
            <a class="flex items-center text-[#fff] text-[16px]">
                <mat-icon class="text-light mr-2 ">category</mat-icon>
                Category
            </a>
        </li>
        <li class=" py-[10px] px-[12px] mb-[10px] cursor-pointer" [routerLink]="'/product'">
            <a  class="flex items-center text-[#fff] text-[16px]">
                <mat-icon class="text-light mr-2 ">inventory_2</mat-icon>
                Product
            </a>
        </li>
        <li class=" py-[10px] px-[12px] mb-[10px] cursor-pointer" [routerLink]="'/orders'">
            <a  class="flex items-center text-[#fff] text-[16px]">
                <mat-icon class="text-light mr-2 ">list_alt</mat-icon>
                Orders
            </a>
        </li>
        <li class=" py-[10px] px-[12px] mb-[10px] cursor-pointer" [routerLink]="'/bills'">
            <a  class="flex items-center text-[#fff] text-[16px]">
                <mat-icon class="text-light mr-2 ">payments</mat-icon>
                Bills
            </a>
        </li>
        <li class=" py-[10px] px-[12px] mb-[10px] cursor-pointer" [routerLink]="'/users'">
            <a class="flex items-center text-[#fff] text-[16px]">
                <mat-icon class="text-light mr-2 ">person</mat-icon>
                Users
            </a>
        </li>
    </ul>

</div>
